<h1> LENDING </h1>
<p> select the books under authors_list </p>
<body>
  <form action="next2" method="get">
    <% @book.each do |b| %>
      <%= check_box_tag( "authors[]", b.book_name , checked=false , options={}) %>
      <%= link_to b.book_name,review_review_path(id: b.id) %><br><br>
    <% end %>
    <%=submit_tag%>
  </form>
</body>
