<% if @flag==0 %>
  <h3> YOU HAVE LENT THE BOOK SUCCESSFULLY </h3>
  <%= link_to "My books",mybooks_my_books_path %><br><br>
  <%= link_to "Change Address?",address_update_address_path %><br><br>
  <%= link_to "Home",home_index_path %><br>
<% end %>
