<h1> WELCOME TO LIBRARY </h1>
<body>
  <p> this page will display the list of books </p>
  <p> select the type of books you want </p>
</body>
<%= link_to "Lend",lend_Lend_path%><br><br>
<%= link_to "Return",return_Return_path %><br><br>
